In [1]:
import pandas as pd

df1 = pd.read_csv("Customers.csv")
df1

     CustomerID   Genre  Age  Annual_income_(k$)  Spending_score
0            37    male   53                 102              20
1            25    male   42                  94              92
2            36    male   52                 124              30
3            16    male   29                  27              25
4           184    male   47                 118              18
..          ...     ...  ...                 ...             ...
194          37    male   22                  33              16
195          75    male   30                  82              71
196          18    male   39                  85              86
197         183  female   78                 130              30
198         129  female   52                  50              75

[199 rows x 5 columns]

In [9]:
column_name = 'CustomerID' 
column_mean = df1["CustomerID"].mean()
print(column_mean)

106.74371859296483

In [11]:
column_name = 'Annual_income_(k$)' 
column_mean = df1["Annual_income_(k$)"].mean()
print(column_mean)

82.84422110552764

In [13]:
column_name = 'Spending_score' 
column_mean = df1["Spending_score"].mean()
print(column_mean)

50.120603015075375

In [19]:
df['Row_Mean'] = df1[['CustomerID', 'Spending_score']].mean(axis=1)

print(df)

   CustomerID  Age  Spending_score  Row_Mean
0          10   15               5      28.5
1          20   25              15      58.5
2          30   35              25      33.0
3          40   45              35      20.5

In [16]:
column_name = 'CustomerID' 
column_median = df1["CustomerID"].median()
print(column_median)

111.0

In [17]:
column_name = 'Spending_score' 
column_median = df1["Spending_score"].median()
print(column_median)

48.0

In [20]:
df['Row_Median'] = df1[['CustomerID', 'Spending_score']].median(axis=1)

print(df)

   CustomerID  Age  Spending_score  Row_Mean  Row_Median
0          10   15               5      28.5        28.5
1          20   25              15      58.5        58.5
2          30   35              25      33.0        33.0
3          40   45              35      20.5        20.5

In [21]:
column_name = 'Annual_income_(k$)' 
column_mode = df1["Annual_income_(k$)"].mode()
print(column_mode)

0    33
Name: Annual_income_(k$), dtype: int64

In [24]:
column_name = 'Age' 
column_mode = df1["Age"].mode()
print(column_mode)

0    58
Name: Age, dtype: int64